#Configuration File to set parameters and scheduling
#Format updated: 9 November 2021

[Camera]
#Exposure
#1detik     =   1 000 000
#10detik    =  10 000 000
#200 detik  = 200 000 000
shutter_speed_milis      = 90000000
shutter_speed_milis_day  = 300000
iso                   = 100
white_balance         = None
#white_balance         = {"red_gain": 0, "blue_gain": 0}
rotation              = 0
resolution            = {"height": 720, "width": 1080}
#resolution            = {"height": 1080, "width": 1920}


[Schedule]
enable_night_pm = True
npm_start = 18:05
npm_end = 23:59
#Interval Between Capture in seconds, 180 s = 3 minutes
npm_interval = 180

enable_night_am = True
nam_start = 00:01
nam_end = 06:00
#Interval Between Capture in seconds, 180 s = 3 minutes
nam_interval = 180

enable_day = True
day_start = 06:15
day_end = 17:55
#Interval Between Capture in seconds
day_interval = 240

#Reset Latch variable Interval in hours
rst_interval = 2

[Storage]
enable_video = True
create_video_time = {"t1": "06:05", "t2": "18:35"}
dir_creation  = {"t1": "06:05","t2": "12:30", "t3": "16:30"}
master_dir    = None
#master_dir    = /home/pi/twroCAM/
create_video  = False
