#Configuration File to set parameters and scheduling
#Format updated: 9 July 2021

[Camera]
#Dalam waktu millis detik * 1000
shutter_speed_milis   = 6000000
iso                   = 800
white_balance         = None
#white_balance         = {"red_gain": 0, "blue_gain": 0}
rotation              = 180
resolution            = {"height": 720, "width": 1080}
#resolution            = {"height": 1080, "width": 1920}


[Schedule]
enable_night_pm = True
npm_start = 18:35
npm_end = 23:58
#Interval Between Capture in seconds
npm_interval = 180

enable_night_am = True
nam_start = 00:02
nam_end = 06:00
#Interval Between Capture in seconds
nam_interval = 180

enable_day = True
day_start = 06:01
day_end = 18:30
#Interval Between Capture in seconds
day_interval = 120

#Reset Latch variable Interval in hours
rst_interval = 3

[Storage]
enable_video = True
create_video_time = {"t1": "06:05","t2": "12:30", "t3": "18:35"}
dir_creation  = {"t1": "06:05","t2": "12:30", "t3": "16:30"}
master_dir    =
create_video  = False
